{% extends 'base.html.twig' %}

{% block title %}Hello Nouveau!{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Add</button>
    {{ form_end(form) }}

{% endblock %}
